
@{
    ViewBag.Title = "Index";
}

<body class="mt-6">
    <!--CARRUSEL-->
    <header class="">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('https://images.pexels.com/photos/1311518/pexels-photo-1311518.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Facilidad de uso</h3>
                        <p class="text-light shadow-lg">No más problemas creando tu Hoja de Vida.</p>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('https://images.pexels.com/photos/5668863/pexels-photo-5668863.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>TRANQUILIDAD</h3>
                        <p class="text-light shadow-lg">Confía en ti, entrega un CV# EXITOSO!</p>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('https://images.pexels.com/photos/5915210/pexels-photo-5915210.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>TOMA TU TIEMPO</h3>
                        <p class="text-light shadow-lg">Solo llena el formulario, nosotros hacemos el resto</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <i class="fas fa-angle-double-left"></i><!--ICONO ANTERIOR-->
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <i class="fas fa-angle-double-right"></i><!--ICONO SIGUIENTE-->
            </a>
        </div>
    </header>

    <!-- CONTENIDO DE LA PAGINA -->
    <div class="container">

        <h1 class="my-4 text-light">Bienvenid@s a la Aplicación CV#</h1>

        <!-- Cartas Section -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100 bg-light">
                    <h4 class="card-header">Por que crear aquí?</h4>
                    <div class="card-body">
                        <p class="card-text">
                            Te ofrecemos la opción más cómoda y
                            fácil a tu alcance para crear tu <strong class="wcv rounded">CV#</strong> en linea.
                            
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 bg-light">
                    <h4 class="card-header">Tiene algún costo?</h4>
                    <div class="card-body">
                        <p class="card-text">
                            Este es un proyecto de código abierto
                            que tiene como objetivo solventar una 
                            necesidad. Crear tu <strong class="wcv rounded">CV#</strong> es totalmente gratis.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 ">
                <div class="card h-100">
                    <h4 class="card-header">Hazlo hoy!</h4>
                    <div class="card-body">
                        <p class="card-text">
                            No esperes más, crea tu <strong class="wcv rounded">CV#</strong> ya
                            y comprueba que ya tienes una 
                            nueva opción para crear tu curriculum
                            si no posees algún editor de texto.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Usuarios Section -->
        <h2 class="text-light">Usuarios satisfechos</h2>

        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="https://images.pexels.com/photos/5922538/pexels-photo-5922538.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Toff Bei Fong</a>
                        </h4>
                        <p class="card-text">
                            Siempre se lo recomiendo a mis
                            amigos cuando no saben como solucionar
                            la situación de entregar un curriculum
                            con prontitud.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="https://images.pexels.com/photos/5915256/pexels-photo-5915256.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Shiva Alhomar</a>
                        </h4>
                        <p class="card-text">
                            Con interfaces de colores agradables
                            a la vista me ha encantado poder ocuparlo
                            para ese momento donde he necesitado un curriculum
                            rápidamente.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="https://images.pexels.com/photos/5922403/pexels-photo-5922403.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Jackson Brigs</a>
                        </h4>
                        <p class="card-text">
                            Muy intuitivo y con un diseño minimalista
                            definitivamente se ha convertido en mi herramienta
                            preferida.
                        </p>
                    </div>
                </div>
            </div>
            <h2 class="text-light">Características Futuras</h2>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Plantillas para tu CV#</a>
                        </h4>
                        <p class="card-text">
                            Para las siguientes versiones
                            queremos que tengas aún mas 
                            control en la creación de tu <strong class="wcv rounded">CV#</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="https://images.pexels.com/photos/1209843/pexels-photo-1209843.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Sesiones de Usuarios</a>
                        </h4>
                        <p class="card-text">
                            Entre las siguientes actualizaciones
                            queremos que puedas crear tu cuenta 
                            con nosotros para disfrutar de más 
                            calidad a la hora de crear tu <strong class="wcv rounded">CV#</strong>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="https://images.pexels.com/photos/1111367/pexels-photo-1111367.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Comparti tu CV#</a>
                        </h4>
                        <p class="card-text">
                            Esperamos puedas disfrutar futuramente
                            de la opción compartir tu <strong class="wcv rounded">CV#</strong>
                            y así poder hacer llegar tu hoja de vida de 
                            manera más sencilla.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-6 text-light">
                <h2>Características de CV#</h2>
                <p>Este proyecto está hecho con las siguientes tecnologías:</p>
                <ul>
                    <li>
                        <strong>Bootstrap v5</strong>
                    </li>
                    <li>jQuery</li>
                    <li>Font Awesome</li>
                    <li>Validaciones de formulario</li>
                    <li>UI y UX analizada para fácil uso</li>
                </ul>
                <p>
                    Esperamos que puedas disfrutar del proyecto final
                    lo hicimos con mucho esfuerzo y dedicación con amor 
                    al código, el deseo de aprender aún más forzandonos 
                    a crear funcionalidades nuevas para nosotros y para que
                    puedas disfrutarlas.
                </p>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="~/Recursos/cv_miniatura.png" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="row mb-4 text-light">
            <div class="col-md-8">
                <p>
                    Espera más actualizaciones en el futuro
                    esperamos crear una herramienta poderosa
                    para la creación de curriculums y así 
                    puedas disfrutar crear tus <strong class="wcv rounded">CV#</strong>.
                </p>
            </div>
            <div class="col-md-4">
                    <div class="btn btn-outline-success text-decoration-none">
                    @Html.ActionLink("Crear Tu CV# AQUÍ", "CreateOrModifyCV", "Home")
                    </div>              
                
            </div>
        </div>

    </div>
    <!-- /.container -->
    
    <!-- Bootstrap core JavaScript -->
    <script src="~/JavaScript/jquery.min.js"></script>
    <script src="~/JavaScript/bootstrap.bundle.min.js"></script>
</body>



